@model IEnumerable<Shared.Entities.Employee>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <h2>List</h2>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <h2 class="pull-right">
                @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
            </h2>
        </div>
    </div>
</div>

<div ng-app="tsi" ng-view>

</div>

